<tr>
  <td class="text-center"><%= n.id %></td>
  <td class="text-center"><%= n.typenew_id %></td>
  <td class="text-center"><%= n.title %></td>
  <td class="text-center"><%= n.description %></td>
  <td class="text-center"><%= n.content %> $</td>
  <td class="text-center"><%= image_tag n.img_thumb,class: "image-show" %></td>
  <td class="text-center">
    <button type="button" class="btn btn-trsimary">
      <span class="glyphicon glyphicon-pencil"></span>
      <a href="#"></a>
    </button>
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-sign"></span>
      <a href="#"></a>
    </button>
  </td>
</tr>

