<tr>
  <td class="text-center"><%= pr.id %></td>
  <td class="text-center"><%= pr.name %></td>
  <td class="text-center"><%= pr.description %></td>
  <td class="text-center"><%= pr.price %> $</td>
  <td class="text-center"><%= image_tag pr.img_detail,class: "image-show" %></td>
  <td class="text-center">
    <button type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil"></span>
      <%= link_to "Edit",edit_admin_product_path(pr) %>
    </button>
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-sign"></span>
      <%= link_to "Delete",[:admin, pr], method: :delete,data: {confirm: t("products.show.destroy_pr")} %>
    </button>
  </td>
</tr>

