<tr>
  <td class="text-center"><%= pr.id %></td>
  <td class="text-center"><%= pr.name %></td>
  <td class="text-center"><%= pr.description %></td>
  <td class="text-center"><%= pr.price %> $</td>
  <td class="text-center"><%= image_tag pr.img_detail,style: "width:100px" %></td>
  <td class="text-center">
    <button type="button" class="btn btn-primary">
      <span class="glyphicon glyphicon-pencil"></span>
      <%= link_to "Edit",[:edit, :admin, pr] %>
    </button>
  <button type="button" class="btn btn-danger">
    <span class="glyphicon glyphicon-remove-sign"></span>
    <%= link_to "Delete",[:admin, pr], method: :delete,data: {confirm: "Your Delete"} %>
  </button>
</td>
</tr>
