<tr>
  <td class="text-center"><%= users.id %></td>
  <td class="text-center"><%= users.username %></td>
  <td class="text-center"><%= users.name %></td>
  <td class="text-center"><%= users.email %></td>
  <td class="text-center"><%= users.role %></td>
  <td class="text-center">
    <button type="button" class="btn btn-trsimary">
      <span class="glyphicon glyphicon-pencil"></span>
      <a href="#"></a>
    </button>
    <button type="button" class="btn btn-danger">
      <span class="glyphicon glyphicon-remove-sign"></span>
      <a href="#"></a>
    </button>
  </td>
</tr>

