<div class="filter_search">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <%= form_tag showp_path, :method => "get", :id => "products_search" do %>
            <%= text_field_tag :search, params[:search], class: "form-control" %>
            <%= submit_tag "#{t "views.show_product.filter.search"}", :name => nil, class: "btn btn-primary submit-search" %>
            <% end %>
            <div class="dropdown dropdown-lg">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" role="menu">
                <%= form_tag showp_path, :method => "get", :id => "products_filter", class: "form-horizontal" do %>
                <div class="form-group">
                  <label for="filter"><%= t "views.show_product.filter.filtrade" %></label>
                  <%= select_tag :trademark, options_from_collection_for_select(Trademark.all, :id, :name), class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="filter"><%= t "views.show_product.filter.filassort" %></label>
                  <%= select_tag :assort, options_from_collection_for_select(Assort.all, :id, :name), class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="contain"><%= t "views.show_product.filter.filmin" %></label>
                  <%= text_field_tag :min, params[:min], class: "form-control"%>
                </div>
                <div class="form-group">
                  <label for="contain"><%= t "views.show_product.filter.filmax" %></label>
                  <%= text_field_tag :max, params[:max], class: "form-control"%>
                </div>
                <%= button_tag(type: 'submit', :name => nil, class: "btn btn-primary") do %>
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
