<h1><%= t "views.show_product.cart.title" %></h1>
<div class="container">
  <form action="#">
    <div class="cart-items-wrap">
      <table class="cart-items">
        <tr>
          <th class="cart-image">Photo</th>
          <th class="cart-ttl">Products</th>
          <th class="cart-price">Price</th>
          <th class="cart-quantity">Quantity</th>
          <th class="cart-summ">Sum</th>
          <th class="cart-del">Remove</th>
        </tr>
        <tbody id="tbl_cart">
          <%= render "tbl_cart" %>
        </tbody>
      </table>
    </div>
    <ul class="cart-total">
      <li class="cart-summ">TOTAL:
        <b id="total_sum">
          <%= "$ #{@sum_cart}" %>
        </b>
      </li>
    </ul>
    <div class="cart-submit">
      <button type="button" class="cart-submit-btn" data-toggle="modal" data-target="#myModal">
        <%= t "views.show_product.cart.checkout" %>
      </button>
      <%= link_to "Clear cart", clearall_path, class: "cart-clear", remote: true %>
    </div>
  </form>
</div>

<%= render "checkout" %>
