<% provide :title, t("views.show_product.detail.title") %>
<div class="container">
  <div class="card-p-d">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview-p-d col-md-6">
          <div class="preview-pic tab-content-p-d tab-pane active">
            <img class="img-product-detail" src="<%= @product.img_detail %>" />
          </div>
        </div>
        <div class="details-product col-md-6">
          <h3 class="product-title-detail"><%= @product.name %></h3>
          <div class="rating">
            <div class="stars">
              <% for i in 0...5 %>
                <% if i+1 < @product.rates.average(:rate).to_f %>
                  <span class="fa fa-star checked"></span>
                <%elsif (@product.rates.average(:rate).to_f - @product.rates.average(:rate).to_i).abs > 0 && @product.rates.average(:rate).to_i == i %>
                  <span class="fa fa-star-half-o checked"></span>
                <%else%>
                  <span class="fa fa-star "></span>
                <% end %>
              <% end %>
            </div>
            <br/>
            <span class="review-no badge"><%= "#{@product.rates.size} #{t "views.show_product.detail.review"}" %></span>
            <a href="#coment_id" class="label label-info">
              <span class="glyphicon glyphicon-comment"></span> <%= "#{@countcmt.size} #{t "views.show_product.detail.cmt"}" %>
            </a>
          </div>
          <p class="product-description"><%= raw(@product.content) %></p>
          <h4 class="price-p-d"> <%= t "views.show_product.detail.price" %>
            <span>$<%= @product.price %></span>
          </h4>
          <p class="vote">
            <strong>91%</strong> <%= t "views.show_product.detail.userby" %>
            <strong>(<%= @product.rates.size %> votes)</strong>
          </p>
          <h7 class="keywork-title-p-d">Key work:
            <span class="keyworks"><%= @product.keys %></span>
          </h7>
          <h5 class="status-p-d"><%= t "views.show_product.detail.status" %>
            <span class="stock"><%= t "views.show_product.detail.oos" %></span>
          </h5>
          <div class="action">
            <%= link_to listcart_path(product_id: @product.id), class: "text-center add-to-cart btn btn-default" do %>
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <%= t "views.show_product.detail.addtocart" %>
            <% end %>
            <%= link_to showp_path, class: "text-center back-to-show btn btn-default" do %>
              <i class="fa fa-angle-left"></i>
              <%= t "views.show_product.detail.continue" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="coment_id">
    <div class="comments-container">
      <h1>
        <%= "#{t "views.show_product.detail.commenttitle"}" %>
      </h1>
      <ul id="comments-list" class="comments-list ul-user-cmt">
        <li>
          <div class="comment-main-level">
            <div class="comment-avatar">
              <img src="/assets/user.png" alt="">
            </div>
            <div class="comment-box">
              <%= form_tag postcmt_path, :method => "post", class: "form-horizontal", :id => "product_coment" do %>
                <%= hidden_field_tag :productid, @product.id %>
                <%= hidden_field_tag :toid, @to_user[:reply] %>
                <div class="form-group">
                  <%= text_area_tag :cmt, "#{@to_user[:name]}", rows: 5,
                  placeholder: "#{t "views.show_product.detail.yourcmt"}" %>
                </div>
                <div class="form-group">
                  <div class="col-md-12 text-right">
                    <%= submit_tag "#{t "views.show_product.detail.sendcmt"}", :name => nil, class: "btn btn-primary btn-lg" %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </li>
        <% @countcmt.each do |cmt| %>
          <li id="coment_id_<%= cmt.id %>">
            <div class="comment-main-level">
              <div class="comment-avatar">
                <img src="/assets/user.png" alt="">
              </div>
              <div class="comment-box">
                <div class="comment-head">
                  <h6 class="comment-name by-author">
                    <a href="#" class="user-cmt-name" >
                      <%= User.find_by_id(cmt.user_id).name %>
                    </a>
                  </h6>
                  <span>
                    <%= cmt.time_cmt.strftime("%d/%m/%Y %H:%M:%S") %>
                  </span>
                  <%= link_to reply_path(id_cmt: cmt.id), method: :post do %>
                  <i class="fa fa-reply"></i>
                  <% end %>
                  <i class="fa fa-heart"></i>
                </div>
                <div class="comment-content">
                  <%= cmt.comment %>
                </div>
              </div>
            </div>
            <% if @product.comments.getlistcmt(cmt.id).count > 0 %>
              <ul class="comments-list reply-list ul-user-cmt">
                <% @product.comments.getlistcmt(cmt.id).each do |cmt_rep| %>
                  <li id="coment_id_<%= cmt_rep.id %>">
                    <div class="comment-avatar">
                      <img src="/assets/user.png">
                    </div>
                    <div class="comment-box">
                      <div class="comment-head">
                        <h6 class="comment-name <%= "by-author" if cmt.user_id == cmt_rep.user_id %>">
                          <a href="#"class="user-cmt-name" >
                            <%= User.find_by_id(cmt_rep.user_id).name %>
                          </a>
                        </h6>
                        <span>
                          <%= cmt_rep.time_cmt.strftime("%d/%m/%Y %H:%M:%S") %>
                        </span>
                        <%= link_to reply_path(id_cmt: cmt_rep.id), method: :post do %>
                          <i class="fa fa-reply"></i>
                        <% end %>
                          <i class="fa fa-heart"></i>
                      </div>
                      <div class="comment-content">
                        <%= cmt_rep.comment %>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
