<div class="header-blue">
  <nav class="navbar navbar-default navigation-clean-search">
    <div class="container">
      <div class="navbar-header">
        <%= link_to t("views.layout.footer.logo"), root_path, class: "navbar-brand navbar-link" %>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <% if logged_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><%= t "views.layout.header.acc"%><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <%= link_to t("views.layout.header.profile"), current_user %>
                </li>
                <li role="presentation">
                  <%= link_to t("views.layout.header.settings"), edit_user_path(current_user) %>
                </li>
                <li role="presentation">
                  <%= link_to t("views.layout.header.show_all_user"), "#" %>
                </li>
                <li><%= link_to t("views.layout.header.log_out"), logout_path, method: :delete %>
                </li>
              </ul>
            </li>
            <button type="button" class="btn btn-default action-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t "views.layout.header.language"%>
              </button>
              <div class="dropdown-menu">
                <li><%= link_to t("views.layout.header.vi"), locale:"vi", class: "dropdown-item" %>
                </li>
                <li><%= link_to t("views.layout.header.en"), locale:"en", class: "dropdown-item" %>
                </li>
              </div>
          </ul>
        <% else %>
          <ul class="nav navbar-nav navbar-right login_logout">
            <%= link_to t("views.layout.header.log_in"), login_path, class: "btn btn-default action-button" %>
            <%= link_to t("News"), login_path, class: "btn btn-default action-button" %>
            <div class="btn-group">
              <button type="button" class="btn btn-default action-button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t "views.layout.header.language"%>
              </button>
              <div class="dropdown-menu">
                <li><%= link_to t("views.layout.header.vi"), locale:"vi", class: "dropdown-item" %>
                </li>
                <li><%= link_to t("views.layout.header.en"), locale:"en", class: "dropdown-item" %>
                </li>
              </div>
            </div>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</div>
