<div class="container " id="navbar_header">
  <div class="header_top">
    <div class="row">
      <div class="col-md-6">
        <div class="header_top_left float-left">
          <ul class="social_icon">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <ul class="social_others">
            <li><a><i class="fa fa-phone"></i><%= t "views.layout.header.phone"%></a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i><%= t "views.layout.header.admintxt"%></a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><%= t "views.layout.header.language"%><span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <%= link_to t("views.layout.header.vi"), locale:"vi"%>
                </li>
                <li role="presentation">
                  <%= link_to t("views.layout.header.en"), locale:"en" %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header_top_right text-right">
          <ul>
            <% if logged_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fa fa-user"></i><%= t "views.layout.header.acc"%><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                  <%= link_to "Home", root_path %>
                </li>
                <li role="presentation">
                  <%= link_to t("views.layout.header.profile"), current_user %>
                </li>
                <li role="presentation">
                  <%= link_to t("views.layout.header.settings"), edit_user_path(current_user) %>
                </li>
                <li>
                  <%= link_to t("views.layout.header.log_out"), logout_path, method: :delete %>
                </li>
                </ul>
              </li>
            <% else %>
              <li><a data-toggle="modal" data-target="#myModal"> <i class="fa fa-lock"></i><%= t "views.layout.header.regis_login" %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mega_relative" >
    <div class="col-xs-12 col-sm-2">
      <div class="logo head_lo">
      <%= link_to image_tag("logo.png", alt: "logo"), root_path%>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="mainmenu float-right">
      <nav>
        <ul>
        <li><%= link_to t("views.layout.header.home"), root_path%></li>
        <li><%= link_to t("views.layout.header.new")%></li>
        <li><%= link_to t("views.layout.header.blog")%></li>
        <li><%= link_to t("views.layout.header.contact")%></li>
        <li class="shop_icon">
          <%= link_to hisp_path, class: "glyphicon glyphicon-hourglass" do %>
          <% end %>
        </li>
        <li class="shop_icon">
          <%= link_to image_tag("menu_icon_img.png", alt: "logo"), listcart_path %>
          <span id="cout_pc"><%= session[:cart_p].count %></span>
        </li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
</div>

<!-- Large modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×</button>
        <h4 class="modal-title" id="myModalLabel">
          Login/Registration</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 popup_title" >
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
              <li><a href="#Registration" data-toggle="tab">Registration</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="Login">
                <div class="col-md-10 col-md-offset-3 popup_login">
                  <%= render "sessions/form" %>
                </div>
              </div>
              <div class="tab-pane" id="Registration">
              <%= render partial: "users/form" %>
              </div>
            </div>
            <div id="OR" class="hidden-xs">
              OR</div>
          </div>
          <div class="col-md-4">
            <div class="row text-center sign-with">
              <div class="col-md-12">
                <h3>
                  Sign in with</h3>
              </div>
              <div class="col-md-12">
                <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-primary">Facebooks</a> <a href="#" class="btn btn-danger">
                    Google</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <style type="text/css">
  .sticky {
  position: fixed;
  top: 0;
  width: 100%
}
</style>
<script type="text/javascript">
  window.onscroll = function() {myFunction()};

var navbar_header = document.getElementById("navbar_header");
var sticky = navbar_header.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar_header.classList.add("sticky")
  } else {
    navbar_header.classList.remove("sticky");
  }
}
</script> -->