<div class="container ">
  <div class="header_top">
    <div class="row">
      <div class="col-md-6">
        <div class="header_top_left float-left">
          <ul class="social_icon">
            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
          <ul class="social_others">
            <li><a><i class="fa fa-phone"></i>012345678</a></li>
            <li><a href="#"><i class="fa fa-envelope-o"></i>admin.com</a></li>
            <li class="language_icon">
            <select class="selectpicker language_icon" data-width="fit">
              <option data-content='<i class="flag-icon flag-icon-vn"></i> VietNam'>VietNam</option>
              <option  data-content='<i class="flag-icon flag-icon-us"></i> English'>English</option>
            </select>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="header_top_right text-right">
          <ul>
            <li><a href="#">Account</a></li>
            <li><a href="#">Wishlist</a></li>
            <li><a data-toggle="modal" data-target="#myModal"> Login</a></li>
            <li class="searchbox">
              <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required>
              <input type="submit" class="searchbox-submit" value="">
              <span class="searchbox-icon"><i class="fa fa-search"></i></span>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row mega_relative">
    <div class="col-xs-12 col-sm-2">
      <div class="logo head_lo">
      <%= link_to image_tag("logo.png", alt: "logo"), root_path%>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="mainmenu float-right">
      <nav>
        <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="#">NEW</a></li>
        <li><a href="#">FEATURED</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">BRAND</a></li>
        <li><a href="#">OFFERS</a></li>
        <li><a href="contact.html">CONTACT</a></li>
        <% if !session[:user_id].nil? %>
        <li class="shop_icon">
          <%= link_to hisp_path, class: "glyphicon glyphicon-hourglass" do %>
          <% end %>
        </li>
        <% end %>
        <li class="shop_icon">
          <%= link_to image_tag("menu_icon_img.png", alt: "logo"), listcart_path %>
          <span id="cout_pc"><%= session[:cart_p].count %></span>
        </li>
        </ul>
      </nav>
      </div>
    </div>
  </div>
</div>

<!-- Large modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×</button>
        <h4 class="modal-title" id="myModalLabel">
          Login/Registration</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8 popup_title" >
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
              <li class="active"><a href="#Login" data-toggle="tab">Login</a></li>
              <li><a href="#Registration" data-toggle="tab">Registration</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="Login">
                <div class="col-md-10 col-md-offset-3 popup_login">
                  <%= render "sessions/form" %>
                </div>
              </div>
              <div class="tab-pane" id="Registration">
              <%= render partial: "users/form" %>
              </div>
            </div>
            <div id="OR" class="hidden-xs">
              OR</div>
          </div>
          <div class="col-md-4">
            <div class="row text-center sign-with">
              <div class="col-md-12">
                <h3>
                  Sign in with</h3>
              </div>
              <div class="col-md-12">
                <div class="btn-group btn-group-justified">
                  <a href="#" class="btn btn-primary">Facebook</a> <a href="#" class="btn btn-danger">
                    Google</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
