<!DOCTYPE html>
<html>
<head>
  <%= render "layouts/rails_default" %>
  <%= render "layouts/shim" %>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container">
    <br/>
    <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>

    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
</body>
</html>
